<div nz-row class="section">
  <div nz-col nzSpan="12">
    <h1 class="description">
      Cure it multispeciality polyclinic
      Prithvi complex, 1st floor , Near bank of Baroda , Uppinangady
      Pin : 574241
    </h1>
    <h1 class="description">
      <i nz-icon nzType="mail" nzTheme="twotone"></i>admin@cureitspecialitypolyclinic.co.in
    </h1>
    <h1 class="description"><i nz-icon nzType="phone" nzTheme="twotone"></i> +91 8147630455 </h1>
  </div>
  <div nz-col nzSpan="12"></div>
</div>
