<div class="container">
  <div nz-row class="title-container">
    <div nz-col class="logo">
      <img class="logo" src="../assets/icon-without-bg.png" />
    </div>
    <div nz-col class="text-gray-900">
      <h1 class="title">
        <span class="title-first">
          <span class="cure">CURE</span>
          <span class="it">IT</span>
        </span>
        <span class="title-description">
          Multi Specialty Polyclinic
        </span>
      </h1>
    </div>
  </div>
  <div nz-row class="section">
    <div nz-col nzSpan="12">
      <h1 class="text-gray-900 description">
        Get Quality Health Care & Treatment with CureIt
      </h1>
      <h3 class="description-details">
        CureIt is a multi-specialty polyclinic providing quality care and treatment for a wide range of diseases.
      </h3>
    </div>
    <div nz-col nzSpan="12"><img src="../assets/bg-1.svg" /></div>
  </div>
  <div nz-row class="section">
    <div nz-col nzSpan="12"><img src="../assets/bg-2.svg" /></div>
    <div nz-col nzSpan="12">
      <h1 class="text-gray-900 description">
        Quality healthcare.
      </h1>
      <h3 class="description-details">
        At CureIt, we provide quality healthcare by utilizing state-of-the-art technology and employing highly trained
        medical professionals.
      </h3>
    </div>
  </div>
  <div nz-row class="section">
    <div nz-col nzSpan="12">
      <h1 class="text-gray-900 description">
        Personalized treatments.
      </h1>
      <h3 class="description-details">
        Our team of experts work together to create personalized treatment plans based on your individual needs and
        preferences.
      </h3>
    </div>
    <div nz-col nzSpan="12"><img src="../assets/bg-3.svg" /></div>
  </div>
  <app-footer></app-footer>
</div>
